<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>CoogMusic</title>
</head>
<body>

<nav>
        <h4> CoogMusic
        </h4>
            <ul>
                
                <!-- <action="/user_index" method="POST" name={{message}}>Home </li> -->
                
                <li> <a href="/admin_index">Home</a>  </li>
                <li> <a href="/viewReportsAdmin">View Reports</a></li>
                <li> <a href="/">Sign Out</a></li>

            </ul>
        
    </nav>

    <div class="container mt-4"> 
        <button onclick="window.print()" type="button" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                        Download Musician Report
        </button>
        <table class="table">
            <caption>Total number of musicians: {{count}}</caption>
            <thead>
                <tr>
                <th scope="col">Artist_id</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Country</th>
                <th scope="col">Age</th>
                <th scope="col">Password</th>
                <th scope="col">Biography</th>
                <th scope="col">Personal url</th>
                <th scope="col">Facebook url</th>
                <th scope="col">Instagram url</th>
                <th scope="col">Spotify url</th>
                <th scope="col">Soundcloud url</th>
                </tr>
            </thead>
                <tbody>
                    {{#each artist}}
                        <tr>
                            <td>{{this.artist_id}}</td>
                            <td>@{{this.artist_name}}</td>
                            <td>{{this.artist_name_display}}</td>
                            <td>{{this.artist_email}}</td>
                            <td>{{this.country}}</td>
                            <td>{{this.age}}</td>
                            <td>{{this.artist_password}}</td>
                            <td>{{this.biography}}</td>
                            <td>{{this.website_url}}</td>
                            <td>{{this.fb_url}}</td>
                            <td>{{this.ig_url}}</td>
                            <td>{{this.spotify_url}}</td>
                            <td>{{this.soundcloud_url}}</td>
                        </tr>
                    {{/each}}
                
                </tbody>
            </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    
    
</body>
</html>
